.salesList {
  flex: 4;
  height: 350px;
}
.salesListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.salesDelete {
  color: red;
  cursor: pointer;
}
.salesListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.salesListItem {
  display: flex;
  align-items: center;
}
